---
import Layout from "../layouts/Layout.astro";
import ContactMe from "../components/ContactMe.astro";
---

<Layout title="David Pacheco: Habilidades y experiencia">
	<div class="container">
		<div class="row mt-4 about">
			<div class="col-12 text-center">
				<h1>Habilidades</h1>
				<h5>Habilidades en tecnologías</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="d-flex justify-content-center">
				<figure class="figure">
					<img
					  src="/assets/tech-stack/hypertext_preprocessor.png"
					  class="figure-img img-fluid rounded shadow-3 mb-3"
					  alt="Taking up Water with a Spoon"
					/>
					<figcaption class="figure-caption">A caption for the above image.</figcaption>
				  </figure>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<figure class="figure">
					<img
					  src="/assets/tech-stack/javascript.png"
					  class="figure-img img-fluid rounded shadow-3 mb-3"
					  alt="Taking up Water with a Spoon"
					/>
					<figcaption class="figure-caption">A caption for the above image.</figcaption>
				  </figure>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<figure class="figure">
					<img
					  src="/assets/tech-stack/python.png"
					  class="figure-img img-fluid rounded shadow-3 mb-3"
					  alt="Taking up Water with a Spoon"
					/>
					<figcaption class="figure-caption">A caption for the above image.</figcaption>
				  </figure>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<figure class="figure">
					<img
					  src="/assets/tech-stack/4373205_laravel_logo_logos_icon.png"
					  class="figure-img img-fluid rounded shadow-3 mb-3"
					  alt="Taking up Water with a Spoon"
					/>
					<figcaption class="figure-caption">A caption for the above image.</figcaption>
				  </figure>
			</div>
		</div>
	</div>

	<ContactMe />
</Layout>
