---
import Layout from "../../layouts/Layout.astro";
import ExpDetail from "../../components/ExpDetail.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection. Requires the name of the collection as an argument.
const allExperience = await getCollection("experience");
allExperience.sort((a, b) => b.data.order.valueOf() - a.data.order.valueOf());
---

<Layout title="Habilidades y experiencia">
	<div class="row mt-5">
		<div class="col">
			<ul class="nav nav-pills nav-fill">
				<li class="nav-item">
					<a class="nav-link" href="/sobre-mi/habilidades"
						>Habilidades</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#" aria-current="page"
						>Experiencia</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sobre-mi/proyectos"
						>Proyectos</a
					>
				</li>
			</ul>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-12 text-center">
			<h1>Experiencia profesional</h1>
		</div>
	</div>
	<div class="row">
		{allExperience.map((xp) => <ExpDetail xp={xp} />)}
	</div>
</Layout>
