---
import Layout from "../../layouts/Layout.astro";

const allProjects = await Astro.glob("../proyectos/*.md");
---

<Layout title="Proyectos">
	<div class="row mt-5">
		<div class="col">
			<ul class="nav nav-pills nav-fill">
				<li class="nav-item">
					<a class="nav-link" href="/sobre-mi/habilidades"
						>Habilidades</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sobre-mi/experiencia"
						>Experiencia</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#"
						>Proyectos</a
					>
				</li>
			</ul>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-12 text-center">
			<h1>
				Proyectos personales
			</h1>
			<h5>Implementando tecnologías con las que he
				interactuado</h5>
		</div>
	</div>
	<div class="row mt-2">
		{
			allProjects.map((project) => (
				<div class="col-sm-12 col-md-4 col-lg-4 mt-2">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">
								{project.frontmatter.name}
							</h5>
							<a href={project.url} class="btn btn-link">
								Ver más
							</a>
						</div>
					</div>
				</div>
			))
		}
	</div>
</Layout>
