---
import ExpDetail from "./ExpDetail.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection. Requires the name of the collection as an argument.
const allExperience = await getCollection("experience");
allExperience.sort((a, b) => b.data.order.valueOf() - a.data.order.valueOf());
---

<div class="row mt-5">
	<div class="col-12 text-center">
		<h2>Experiencia profesional</h2>
	</div>
</div>
<div class="row">
	{allExperience.map((xp) => <ExpDetail xp={xp} />)}
</div>
