---
---

<footer class="text-center text-white mt-5" id="credits-links">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Linkedin -->
            <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a
            >
            <!-- Github -->
            <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a
            >
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" id="rights">David Pacheco</div>
    <!-- Copyright -->
</footer>

<style>
    #credits-links {
        background-color: #f1f1f1;
    }

    #rights {
        background-color: rgba(0, 0, 0, 0.2);
    }
</style>
