---
export interface Props {
    logo: string;
    description: string;
    legend: string;
}

const { logo, description, legend } = Astro.props;
---

<!-- Cards inside -->
<div class="col">
    <div class="card">
        <img src={logo} class="card-img-top mx-auto logo-tech" alt={description}>
        <div class="card-body">
            <h5 class="card-title">{legend}</h5>
        </div>
    </div>
</div>
<style>
    .logo-tech {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
</style>
