---
---

<h5 class="mb-4" id="habilities"></h5>

<script>
    import Typewriter from "typewriter-effect/dist/core";

    new Typewriter("#habilities", {
        strings: ["Programador web full stack", "PHP", "JavaScript", "Python"],
        autoStart: true,
        loop: true,
        delay: "natural",
    });
</script>
