---
---

<h5 class="mb-4 lead" id="habilities"></h5>

<script>
    import Typewriter from "typewriter-effect/dist/core";

    new Typewriter("#habilities", {
        strings: ["Programador web full stack", "JavaScript", "Python", "Angular", "Laravel"],
        autoStart: true,
        loop: true,
        delay: "natural",
    });
</script>
